.wrap{
	display:flex;
	flex-direction: column;
	flex:1;
	height:0px;
}

.default {
	display:flex;
	flex-direction: column;
	height:0px;
	flex:1;
  	background: #00a0e9;
	font-family:'NotoSansKR';
	font-size:36px;
	line-height:auto;
	letter-spacing:-0.7px;
	font-weight:400;


	.contents{
		display:flex;
		flex:1;
		flex-direction: column;
		padding:0 50px;
		padding-top:0px;
		z-index:3;
		height:0px;
	}

	.box{
		background:#fff;
		border-radius:15px;
		padding:50px;
		box-shadow: 0 0 30px rgba(0,0,0,0.15);
	}

	.footerBtns{
		display:flex;
		flex-direction: row;
		padding:50px;
		border-radius:15px;
		overflow:hidden;
		z-index:3;
		

		.v-btn{
			height:120px;
			flex:1;
			border-radius:0px;
		}

		.back.v-btn{
			max-width:120px;
			height:120px;
			background:#0088c6;
			border-radius:15px 0 0 15px;

			.v-icon{
				font-size:48px;
				color:#fff;
			}
		}
		.next.v-btn{
			background:#00a0e9;
			color:#fff;
			border-radius:0 15px 15px 0;
		}
	}

	.v-btn{
		font-size:36px;
		letter-spacing: -0.7px;
		font-family:'NotoSansKR';
		font-weight:500;
	}
}


